[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=notify
WatchdogSec=10
User=app
WorkingDirectory=/home/app/current
ExecStart=/usr/local/bin/bundle exec puma -C config/puma.rb
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=1
StandardOutput=append:/home/app/current/log/puma.log
StandardError=append:/home/app/current/log/puma.error.log
SyslogIdentifier=puma
Environment="RAILS_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=enabled"

[Install]
WantedBy=multi-user.target